@charset "UTF-8";
body{
	background:linear-gradient(#e66465, #9198e5);
}

table{
	display: flex;
	text-align: center;
	justify-content: center;
	border-collapse: collapse;
}

tr{
	background:white;
}

th{
	background:black;
	color:white;
}

tr:hover{
	background:grey;
}
td{
	border-bottom: 1px solid grey;
}

#form_search_bar{
	display:flex;
	justify-content: center;
}
#form_search_bar input{
	font-size: 1.5em;
}
#form_search_bar a{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding:2px;
	text-align: center;
	text-decoration: none;
	display:inline-flex;
	font-size: 1.5em;
}




